*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Universial margin and padding default value setted to zero. */

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4b4b4b;
}
/* Body display width and height designed to achive fullscreen. */

.container{
  width: 80%;
  height: 90%;
  border: 5px solid black;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgb(175, 175, 175);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Container designed according body,background color, border, border redius, box shadow and display property added. */

.container > h1{
  color: rgb(0, 0, 0);
  margin: 10px 10px 7% 10px;
  padding: 10px;
  font-weight: 900;
  font-size: 45px;
  text-shadow:2px 2px 5px #2d3436;
}
/* Heading designed. */

#result{
  background-color: #c5dcde;
  color: #000000;
  margin:50px 20px;
  padding: 10px;
  text-align: center;
  width: 500px;
  height: 10%;
  border-radius: 10px;
  border: 3px solid black;
  font-size: 30px;
  cursor: copy;
  font-weight: 500;
}
/* Result box designed with different CSS. */

.container > input{
  padding: 5px;
  min-width: 40%;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  text-align: center;
  background-color: #e9e9ed;
  border: 1px solid #2980b9;
  border-radius: 7px;
}
/* Input box designed. */

.temp-selection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* Width and display properties given to temp-selection division. */

.temp-selection > select{
  height: 40px;
  min-width: 15%;
  font-size: 20px;
  margin: 20px;
  padding: 5px;
  text-align: center;
}
button{
  margin: 30px;
  width: 200px;
  font-size: 25px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid #2980b9;
}
/* Button designed. */

button:hover{
  border: 2px solid #2d3436;
  background-color: #2980b9;
  color: #ffffff;
}

/* Media query added below. */
@media screen and (max-width:650px) {
  body{
    background-color: rgb(255, 255, 255);
  }
  .container{
    width: 99.95%;
    height: 99.95%;
    border-radius: 0px;
    justify-content: start;
  }
  .container > h1{
    width: 100%;
    text-align: center;
    margin: 0 10px 20% 10px;
    padding: 10px;
    /* margin-bottom: 10%; */
  }
  .container > input{
   width: 90%;
  }

  .temp-selection > select{
    min-width: 36%;
  }
  button{
    margin-top: 20px;
    width: 200px;
    font-size: 25px;
    padding: 5px;
    border-radius: 20px;
  }
  #result{
    width: 90%;
    max-height: 60px;
  }
}